.login__img{
    width: 70%;
    text-align: center;
}

.login__img img{
    width: 70%;
    object-fit: contain;
}

.login__form{
    padding: 50px;
    background: var(--secondary-color);
    position: relative;
}

.login__container{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.login__form .user{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 05%;
    left: 35%;
    transform: translate(-50% -9%);
}

.login__form .user img{
    bottom: 10%;
    width: 100%;
}
.login__form h2{
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

.login__form{
    width: 40%;
}

.login__form input{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: var(--heading-color);
}

.login__form input:focus{
    outline:none;
    border: 2px solid #dca463; /* Add focus border for better visibility */
    background-color: #100f0f; /* Slightly lighter background for focus */
    color: #fdfdfd; /* Keep text color black */
}

.auth__btn {
    background-color: #f0b571; /* Change to your desired background color */
    color: white; /* Change to your desired text color */
    border: none; /* Optional: remove border if not needed */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px; /* Optional: rounded corners */
}

.auth__btn:hover {
    background-color: #45a049; /* Add hover effect for better interactivity */
    color: #fff;
}

.login__form p{
    font-size: .9rem;
    color: #fff;
    margin-top: 1.5rem;
    text-align: center;
}
.login__form p a{
    color: var(--heading-color);
    text-decoration: none;
    margin-left: 5px;
    font-weight: 500;
}
.login__form input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    background-color: #f0b571; /* Set background color to white */
    color: #020202; /* Set text color to black */
}
